<!DOCTYPE html>
<html>
<head>
  <title>InstantLunch</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'dashboard', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  wrapper -->

<div class="col-md-12">
  <div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
      <h1 class="page-header">Zamówienia w <%= @restaurant.name %></h1>
    </div>
    <!--End Page Header -->
  </div>
  <% @tables.each do |table| %>
      <div class="col-md-3 table_actual">
        <div class="panel panel-danger">
          <div class="panel-heading">Stolik nr <%= table.number %></div>
          <div class="panel-body">
            <% table.orders.each do |order| %>
                <div class="panel panel-default">
                  <div class="panel-heading">Zamówienie nr <%= order.id %>,
                    stan: <%= order.order_status.name %> <%= link_to "Zmień stan", edit_order_path(order), class: "btn-danger btn-left" %></div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                        <% order.order_items.each do |order_item| %>
                            <tr>
                              <td><%= order_item.dish.name %></td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- end wrapper -->


<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js"></script>

<script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="assets/plugins/pace/pace.js"></script>
<script src="assets/scripts/siminta.js"></script>
<!-- Page-Level Plugin Scripts-->
<script src="assets/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="assets/plugins/morris/morris.js"></script>
<script src="assets/scripts/dashboard-demo.js"></script>
</body>
</html>
