<div class="row">
  <!-- Page Header -->
  <div class="col-lg-12">
    <h1 class="page-header">Edycja <%= @menu_dish.dish.name %></h1>
  </div>
</div>

<div class="row">
  <%= form_for @menu_dish do |f| %>
      <div class="row">
        <div class="col-sm-5">
          <%= f.select :dish_category_id, options_for_select(@dishes_categories, @menu_dish.dish_category_id), {:include_blank => "Kategoria"}, {:class => "form-control"} %>
        </div>
        <div class="col-sm-2">
          <h4>Obecna cena: <%= number_to_currency(@menu_dish.dish.price, unit: "zł", separator: ",", delimiter: "", format: "%n %u") %></h4>
        </div>
          <div class="col-sm-3">
          <%= f.number_field :promotion, :class => 'form-control', :step => 0.01, :placeholder => "Cena promocyjna" %>
          <%= f.hidden_field :menu_id, :value => @menu_dish.menu_id %>
        </div>
        <div class="col-sm-2">
          <%= f.submit "Zapisz", class: 'btn btn-danger btn-lg btn-block' %>
        </div>
  <% end %>
  </div>
</div>