<p id="notice"><%= notice %></p>

<h1>Listing Menu Dishes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_dishes.each do |menu_dish| %>
      <tr>
        <td><%= link_to 'Show', menu_dish %></td>
        <td><%= link_to 'Edit', edit_menu_dish_path(menu_dish) %></td>
        <td><%= link_to 'Destroy', menu_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu dish', new_menu_dish_path %>
