<nav class="navbar-default navbar-static-side" role="navigation">
  <!-- sidebar-collapse -->
  <div class="sidebar-collapse">
    <!-- side-menu -->
    <ul class="nav" id="side-menu">
      <li>
        <!-- user image section-->
        <div class="user-section">
        </div>
        <!--end user image section-->
      </li>
      <li class="selected">
        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Start</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-cutlery"></i> Restauracje<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
          </li>
          <li>
            <%= link_to "Dodaj restaurację", new_restaurant_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-book"></i>Menu restauracji<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="panels-wells.html">Lista menu restauracji</a>
          </li>
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="buttons.html">Dodaj menu</a>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-users"></i>Kelnerzy<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="#">Lista kelnerów</a>
          </li>
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="#">Dodaj kelnera</a>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-square"></i>Stoliki<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="#">Lista stolików</a>
          </li>
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
            <a href="#">Dodaj stolik</a>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="forms.html"><i class="fa fa-coffee"></i>Lista zamówień</a>
      </li>
      <li>
        <a href="forms.html"><i class="fa fa-spoon"></i>Aktualna sytuacja w restauracjach</a>
      </li>
    </ul>
    <!-- end side-menu -->
  </div>
  <!-- end sidebar-collapse -->
</nav>