<nav class="navbar-default navbar-static-side" role="navigation">
  <!-- sidebar-collapse -->
  <div class="sidebar-collapse">
    <!-- side-menu -->
    <ul class="nav" id="side-menu">
      <li>
        <!-- user image section-->
        <div class="user-section">
        </div>
        <!--end user image section-->
      </li>
      <li class="selected">
        <%= link_to dashboard_path do%><i class="fa fa-dashboard fa-fw"></i>Start<% end %>
      </li>
      <li>
        <a href="#"><i class="fa fa-cutlery"></i> Restauracje<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista moich restauracji", restaurants_path %>
          </li>
          <li>
            <%= link_to "Dodaj restaurację", new_restaurant_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-book"></i>Menu restauracji<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista menu restauracji", menus_path %>
          </li>
          <li>
            <%= link_to "Dodaj menu", new_menu_path %>
          </li>
          <li>
            <%= link_to "Lista potraw", dishes_path %>
          </li>
          <li>
            <%= link_to "Dodaj nową potrawę", new_dish_path %>
          </li>
          <li>
            <%= link_to "Lista kategorii potraw", dish_categories_path %>
          </li>
          <li>
            <%= link_to "Dodaj nową kategorię potraw", new_dish_category_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-users"></i>Kelnerzy<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista kelnerów", waiters_path %>
          </li>
          <li>
            <%= link_to "Dodaj kelnera", new_waiter_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <a href="#"><i class="fa fa-square"></i>Stoliki<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista stolików", tables_path %>
          </li>
          <li>
            <%= link_to "Dodaj stolik", new_table_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <%= link_to orders_path do%><i class="fa fa-coffee"></i>Lista zamówień<% end %>
      </li>
      <li>
        <a href="#"><i class="fa fa-tags"></i>Statusy zamówień<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Lista statusów dla zamówień", order_statuses_path %>
          </li>
          <li>
            <%= link_to "Dodaj status zamówienia", new_order_status_path %>
          </li>
        </ul>
        <!-- second-level-items -->
      </li>
      <li>
        <%= link_to RestaurantOwner.find(current_user.actable_id) do%><i class="fa fa-spoon"></i>Aktualna sytuacja w restauracjach<% end %>
      </li>
    </ul>
    <!-- end side-menu -->
  </div>
  <!-- end sidebar-collapse -->
</nav>